NEXT_PUBLIC_SUPABASE_URL=https://yekgaarirynfywwvncwp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlla2dhYXJpcnluZnl3d3ZuY3dwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3Nzk5NTQsImV4cCI6MjA5MjM1NTk1NH0.Rmr0V4xYnLwpFNBG3dhJ1AYwmP_S9b7e8wq7fYvQyeY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlla2dhYXJpcnluZnl3d3ZuY3dwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njc3OTk1NCwiZXhwIjoyMDkyMzU1OTU0fQ.VVphtRm68kK1aE50v5CZZvRhZWAARTMDym_K-dS4x6k